.jumbotron {
    text-align: center;
    background-color: blue;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  .low{
    background-color: lightgreen;
  }
  .moderate{
    background-color: yellow;
  }
  .high{
    background-color: orange;
  }
  .very-high{
    background-color: red;
  }
  .extreme{
    background-color: purple;
  }
  .card {
	margin: 10px;
}
.icons{
height: 100px;
width: 100px;
}
